table {
    border-collapse: collapse;
    
     margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}


table, th, td {
   border: 3px solid red;
    font-size: 30px;
}

#form{
    background-color: #d6cad4;
    border: 1px;
    font-size: 20px;
}

p{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-color:blue;
    font-variant-caps: all-small-caps;
}

fieldset{
    font-size: 25px;
    background: color:gray;
    
}

h1{
   
    border: 3px solid #73AD21;
    padding: 10px;
    
    
    margin-left: auto;

    margin-right: auto;

    width: 6em
}

h3{
    color font: magenta; 
}

legend{
    font-size: 30px;
    font-color:#9300ff;
}


body{
    background: color:rgba(36, 163, 154, 0.79);
}

#background{
    color: #afa3b4;
}

body{
    border: 3px  purple;
}

#logo{
    
     margin-left: auto;

    margin-right: auto;

   

}